

<div class="container">
    <h2>Total costs £ <%= @total %></h2>
</div>


<% @categories.each do |category| %>
  <p><%=category.name%>: £<%=Item.total_spend_by_category(category.id)%></p>
  <hr/>
<% end %>
