<!-- <head>
  <link rel="stylesheet" href="styles/style.css">
</head> -->

<div class="container">
    <p>Total costs £ <%= @total %></p>
</div>


<% @categories.each do |category| %>
  <p><%=category.name%>: £<%=Item.total_spend_by_category(category.id)%></p>
  <hr/>
<% end %>
