<!DOCTYPE html>
<html>
<head>
  <title>Items</title>
  <link rel="stylesheet" href="/style.css">
</head>
<nav>
  <ul>
    <li>
      <a href="/items">Items Index</a>
      <a href="/items/new" >Add Item</a>
    </li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
