<!DOCTYPE html>
<html>
<head>
  <title>Wedding Budget Planner</title>
  <link rel="stylesheet" href="/style.css">
</head>

<nav>
  <ul>
    <li>
      <a href="/items">Items Index</a>
      <a href="/items/new">Add Item</a>
      <a href="/items/budget-breakdown">Budget Breakdown</a>
    </li>
  </ul>
</nav>
<body>

<%= yield %>

</body>
</html>
