<!DOCTYPE html>
<html>
<head>
  <title>Wedding Budget Planner</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<div class="container-1">
  <div class="box-1">
    <img src="../images/wedding_rings.jpg" alt="Image of two wedding rings"</img>
  </div>
  <div class="box-2">
    <h3>WEDDING BUDGET PLANNER</h3>
    <h6>plan your big day right</h6>
  </div>
</div>

  <ul>
    <li>
      <a href="/items">Items Index</a>
      <a href="/items/new">Add Item</a>
      <a href="/items/budget-breakdown">Budget Breakdown</a>
    </li>
  </ul>
</nav>

<body>

<%= yield %>

</body>
</html>
