
body {

  background-color: silver;
  /* background-image: url("../images/wedding_rings.jpg");
  background-size: cover; */
}

p {
/* background-color: lightgrey; */
justify-content: center;
text-align: center;

}

h6 {
/* background-color: lightgrey; */
justify-content: center;
text-align: center;
font-family: Arial;
font-size: 20px;
color: goldenrod;

}

a {
/* background-color: lightslategray; */
}

h3{

font-family: cursive;
font-size: 40px;
color: white;

}

h2{

  justify-content: center;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  color: lightslategray;

}

h4{
align: centre;
  justify-contentt:flex-start;
  text-align:left;
  font-family: Arial;
  font-size: 25px;
  color: lightslategray;

}

nav{
align-items: center;
text-align: center:

}

.container-1{

  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: space-around;

}

.container-2{

  display: flex;
  background-color: ivory;
  align-items: center;
  justify-content: space-around;

}

.container-3{

  display: flex;
  background-color: lightslategray;
  align-items: center;
  justify-content: space-around;

}
